.navbar {
  margin: 0;
  position: relative;
padding: 0 50px;
}

.navbar::after {
  content: "";
  height: 1px;
  width: 80%;
  background-color: rgba(128, 128, 128, 0.171);
  position: absolute;
  top: 70px;
  left: 110px;

}

.leftnav {
  display: flex;
  gap: 30px;
  flex-grow: 1;
  color: grey;
  margin-left: 50px;
}

#logo {
  height: 20px;
  /* width:  140px; */
  display: flex;
  align-items: center;

}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  list-style: none;
}

li a {
  text-decoration: none;
  color: gray;
  font-size: 16px;
  font-weight: 450;
  cursor: pointer;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin: 0;
  padding: 30px 30px;
  transition: all 3s;
}


#closeicon img {
  padding-bottom: 30px;
  width: 15px;
  height: 15px;

}

#closeicon img:hover {
  color: hsl(26, 100%, 55%);
}


.Sidebar a {
  color: black;
  font-weight: bold;
  width: 100%;
}

.Sidebar a:hover {
  color: hsl(26, 100%, 55%);
  font-weight: bold;
  width: 100%;
}


.Sidebar li {
  width: 100%;
}


.leftnav a {
  position: relative;
}

.leftnav a::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  position: absolute;
  left: 0;
  bottom: 0px;
  opacity: 0;
  transition: 1s;

}

.leftnav a:hover:after {
  opacity: 1;
  bottom: -45px;
}


#man {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#man:hover {
  border: 3px solid orange;
  border-radius: 50%;
  cursor: pointer;

}


#cart {
  height: 20px;
  width: 20px;
  cursor: pointer;
}



#box {

  border-radius: 10px;
  box-shadow: 1px 10px 30px 3px rgba(0, 0, 0, 0.233);
  background-color: white;
  width: 350px;
  height: 230px;
  position: absolute;
  right: 60px;
  top: 60px;
  animation-duration: 2s;
  animation-name: example;
  z-index: 999;
}

@keyframes example{
  from{
   
    top: 0px;

  }
  to{
    top: 60px;
  }

  
}

 

#hrcart {
  position: relative;
  font-weight: bold;
  padding: 0 20px;
  font-size: 17px;
  padding: 15px;
}

#hrcart::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.461);
  position: absolute;
  left: 0px;
  top: 50px;
}

#box #text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  height: 150px;
}


.rightnav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 100px;
}

.menubtn {
  display: none;

}

#showicon img {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
}
#btnb{
  position: relative;
}
.notification{

    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 70%;
    padding:0 5px;
    position: absolute;
    top: -7px;
    margin-left: 7px;
  
  }


@media screen and (max-width: 1000px) {

  .menubtn {
    display: block;
    padding: 0 10px;
  }

  #box {


    width: 350px;
    height: 230px;
    position: absolute;
    right: 20px;
    top: 80px;
    animation-duration: 2s;
    animation-name: example;
  }
  
  @keyframes example{
    from{
     
      top: 0px;
  
    }
    to{
      top: 80px;
    }
  
    
  }


  .navbar::after {
    
  display: none;

 
  
  }
  .navbar{
 
    padding: 0;
  }
  .hide {
    display: none;


  }
  .rightnav {
  
    margin-right: 0px;
  }



}
